#{"applejack"
  "aquavit"
  "batavia arrack"
  "bourbon whiskey"
  "brandy"
  ;; "cachaça"
  "calvados"
  "cognac"
  "genever"
  "gin"
  ;; "grappa"
  "mezcal"
  "pisco"
  "rum"
  "rye whiskey"
  "scotch"
  "tequila"
  "vodka"
  "whiskey"
  "white rum"

  "absinthe"
  "amaretto"
  "amaro"
  "amaro nonino"
  "amer picon"
  "aperol"
  "apricot liqueur"
  "averna"
  ;; "bauchant"
  "becherovka"
  "benedictine"
  "campari"
  "chartreuse"
  "cherry brandy"
  "cointreau"
  "creme de banane"
  "creme de cacao"
  ;; "creme de cassis"
  ;; "creme de noyaux"
  ;; "creme de rose"
  ;; "creme de violette"
  "creole shrub"
  "curacao"
  "cynar"
  ;; "drambuie"
  "falernum"
  "fernet-branca"
  "galliano"
  ;; "gammeldansk bitters"
  ;; "ginger liqueur"
  "green chartreuse"
  ;; "honey liqueur"
  ;; "infused vodka"
  "kahlua"
  "kümmel"
  "licor 43"
  ;; "malört"
  "maraschino"
  ;; "mirto"
  "pastis"
  ;; "pear liqueur"
  "pimento dram"
  "pimm's no. 1"
  ;; "pineau des charentes"
  "sloe gin"
  "st. germain"
  "strega"
  "suze"
  "swedish punsch"
  ;; "walnut liqueur"
  "yellow chartreuse"

  "bianco vermouth"
  "dry vermouth"
  "rose vermouth"
  "sweet vermouth"
  ;; "chinato"
  ;; "dubonnet"
  "lillet"
  ;; "punt e mes"
  ;; "quinquina"
  ;; "madeira"
  "sherry"
  ;; "ruby port"
  ;; "tawny port"
  ;; "white port"
  "champagne"
  "red wine"
  "rose wine"
  "white wine"

  "aged bitters"
  "angostura bitters"
  "aromatic bitters"
  "herbsainte"
  "mole bitters"
  "orange bitters"
  "peychaud's bitters"
  "other bitters"

  "grapefruit juice"
  "lemon juice"
  "lime juice"
  "orange juice"
  "pineapple juice"

  "cinnamon simple syrup"
  "grenadine"
  "gum syrup"
  "maple syrup"
  "mint simple syrup"
  "orgeat"
  "passion fruit syrup"
  "pineapple syrup"
  "raspberry syrup"
  "rock candy syrup"
  "simple syrup"
  "vanilla simple syrup"
  "other simple syrup"

  "apple cider"
  "beer"
  "cocoa"
  "cream"
  "creme de peche"
  "egg"
  "egg white"
  "ginger beer"
  "honey"
  "soda"
  "sugar"
  "tea"}
