{:paths ["src" "resources" "env" "test"]
 :aliases 
 {:server {:main-opts ["-m" "cocktail-slurp.server"]}}

 :deps {;; http-server
        bidi {:mvn/version "2.1.6"}
        http-kit {:mvn/version "2.4.0-alpha6"}
        ring {:mvn/version "1.8.0"}
        ring-cors {:mvn/version "0.1.13"}
        metosin/muuntaja {:mvn/version "0.6.6"}

        ;; parsing
        hickory {:mvn/version "0.7.1"}

        ;; datomic
        com.datomic/datomic-free {:mvn/version "0.9.5697"}}}
