{:paths ["src" "resources"]

 :deps {org.clojure/data.json {:mvn/version "0.2.6"}
        ring {:mvn/version "1.8.0"}
        clj-http {:mvn/version "3.10.0"}
        metosin/reitit {:mvn/version "0.3.10"}
        metosin/ring-http-response {:mvn/version "0.9.1"}
        hiccup {:mvn/version "2.0.0-alpha2"}
        hickory {:mvn/version "0.7.1"}}}
