@font-face {
    src: url('/fonts/Margo_Condensed_v0.1-Medium.woff2') format("woff2"),
         url('/fonts/Margo_Condensed_v0.1-Medium.woff')  format("woff");
    font-family: "Margo";
    font-style: normal;
    font-weight: 400;
}

@font-face {
    src: url('/fonts/Marionette_v0.1-Medium.woff2') format("woff2"),
         url('/fonts/Marionette_v0.1-Medium.woff')  format("woff");
    font-family: "Marionette";
    font-style: normal;
    font-weight: 400;
}

