:root {
    --bg: #C0C0C0;
    --fg: #000000;
}

* { box-sizing: border-box; transition: 0.25s; }

html {
    font-size: 5px;
    font-family: "Suisse Intl";
    color: var(--fg);
}

body {
    background: var(--bg);
    font-size: 4rem;
    line-height: 5rem;
    font-variant-numeric: diagonal-fractions;
    -moz-font-feature-settings: "frac";
    -webkit-font-feature-settings: "frac";
    font-feature-settings: "frac";
}

a {
    text-decoration: none;
    color: var(--fg);
    cursor: pointer;
}

::selection {
    background-color: lightgray;
}

h1 {
    font-size: 16rem;
    line-height: 13rem;
    margin-bottom: 4rem;
    text-transform: capitalize;
}

button {
    background: none;
    color: var(--fg);
    font-family: "Suisse Intl";
    border: 0;
    padding: 0;
    cursor: pointer;
}

input {
    outline: none;
}

/* General */

main { padding: 10rem; }

footer {
    margin: 20rem 10rem 10rem 10rem;
    color: white;
}

/* Catalouge */

.collections {
    display: flex;
    margin: auto 3rem 3rem 0;
}

.ingredient {
    text-transform: lowercase;
    display: inline;
    margin-right: 3rem;
}

.clickable-ingredient { cursor: pointer; }
.clickable-ingredient:hover{ text-decoration: underline; }

/* Cocktails */

.cocktails {
    display: grid;
    grid-template-columns: 20% 80%;
}

@media (max-width: 1600px) {.cocktails { grid-template-columns: 30% 70%; }}
@media (max-width: 1250px) {.cocktails { grid-template-columns: 45% 55%; }}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 5rem;
}

.card {
    max-width: 900px;
    display: flex;
    border-radius: 2rem;
    flex-direction: column;
    line-height: 4rem;
    background: whitesmoke;
}


.card:hover .dispatch-btn { visibility: visible; }

.illustration {
    border-radius: 2rem 2rem 0 0;
}

.card-body {
    padding: 4rem 3rem 3rem 3rem;
    white-space: pre-wrap;
    font-size: 3rem;
}

.card .title {
    font-size: 6rem;
    margin-bottom: 2rem;
    text-transform: capitalize;
}

.card .ingredients { margin: 1rem 0 5rem 0; }

.card-body > table {
    margin-bottom: 6rem;
    table-layout: fixed;
}

.card-body td:first-child { min-width: 12rem; }

.card-ingredient {
    font-size: 2rem;
    padding-right: 2rem;
    letter-spacing: 0.3px;
}

.next-page {
    border: 1px solid gray;
    cursor: pointer;
    font: 4rem "Suisse Intl";
    padding: 3rem;
    background: var(--bg);
    border-radius: 1rem;
}

.next-page:hover {
    background: darkgray;
}

.flag {
    height: 1.5rem;
    width: 100%;
}

.flag-menu { background-color: var(--menu-bg); }
.flag-library { background-color: var(--library-bg); }

.card-add-menu { margin-left: auto; }
.card-add-library { margin-left: auto; }

/* Strainer */

.strainer {
    text-transform: uppercase;
    font-size: 3rem;
    margin-right: 10rem;
}

.search {
    margin-bottom: 5rem;
}

.filters > * { margin-bottom: 5rem; }

.show-filters { display: none; }

.strainer input {
    font-family: "Suisse Intl";
    color: var(--fg);
    font-size: 4rem;
    border: 1px solid gray;
    border-width: 0 0 1px 0;
    background: none;
    padding: 1rem;
    width: 100%;
}

.strainer p { margin-bottom: 1rem; }

.strainer > section > input {
    font-size: 3rem;
    border-width: 1px;
    border-radius: 0.5rem;
    margin: 1rem 0 3rem 0;
}

.toggles { margin: 0 0 0 -1rem;}

.toggle {
    border: 1px solid gray;
    border-radius: 0.5rem;
    color: gray;
    font-size: 2.5rem;
    text-transform: lowercase;
    letter-spacing: 0.2px;
    padding: 1rem 2rem 1rem 2rem;
    margin: 1rem;
}

.toggle-active:hover { text-decoration: line-through; }
.toggle:hover  { color: black; border-color: black; }
.toggle-active { color: black; border-color: black; }

.clear {
    color: darkred;
    border-color: darkred;
    margin-left: -1rem;
}

.clear:hover {
    color: white;
    background: darkred;
    border-color: darkred;
}

@media (max-width: 900px) {
    .cocktails    { grid-template-columns: 1fr; grid-gap: 5rem; }
    .filters      { display: none; }
    .show-filters { display: block; }
    .strainer     { display: flex; }
}

/* Cocktail */

.cocktail {
    white-space: pre-wrap;
    background: whitesmoke; 
    border-radius: 2rem;
}

.cocktail > * { padding: 5rem; }
.cocktail > .header { margin-bottom: 10rem; }

.cocktail > .illustration {
    grid-column: span 4;
    padding: 0;
}

.cocktail-body {
    display: flex;
}

.cocktail-body > .content {
    display: grid;
    grid-column-gap: 10rem;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 900px) {
    .cocktail-body > .content { grid-template-columns: 1fr; }
    .cocktail-body > .content > img { margin-top: 10rem; }
}

.cocktail-body > .content > aside > * { margin-bottom: 10rem; }
.cocktail-body > .content > img { width: 100%; }

.cocktail .metadata {
    display: flex;
    width: 8rem;
    justify-content: space-between;
    font-size: 3rem;
    writing-mode: vertical-rl;
}

.collection {
    color: lightgray;
    border-color: lightgray;
}

.in-collection {
    color: var(--fg);
    border-color: var(--fg);
}

.collection:first-child {
    margin-left: auto;
}
