:root {
    --bg1: hsl(0 0% 100%);
    --bg2: hsl(0 0% 95%);
    --bg3: hsl(0 0% 99%);
    --fg1: hsl(0 0% 0%);
    --fg2: hsl(0 0% 30%);
    --fg3: hsl(0 0% 50%);
    --fg4: hsl(0 0% 80%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg1: hsl(0 0% 5%);
        --bg2: hsl(0 0% 20%);
        --bg3: hsl(0 0% 10%);
        --fg1: hsl(0 0% 100%);
        --fg2: hsl(0 0% 70%);
        --fg3: hsl(0 0% 50%);
        --fg4: hsl(0 0% 30%);
    }
}

* { box-sizing: border-box; }

html {
    -webkit-font-smoothing: antialiased;
    font-size: 5px;
    color: var(--fg1);
}

body {
    background: var(--bg1);
    color: var(--fg1);
    font: 4rem/6rem "Marionette";
}

a {
    text-decoration: none;
    color: var(--fg1);
    cursor: pointer;
    white-space: pre-wrap;
}

::selection {
    /* color: var(--bg); */
    /* background-color: var(--fg); */
}

input {
    outline: none;
}

main {
}

/* Cocktails */

.cocktails {
}

.empty {
    margin: 10rem;
    font: 12rem/11rem "Margo", "Optima", times;
    color: var(--fg3);
    text-align: center;
}

.container {
    margin-left: 50rem;
}

.cards {
    margin: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 5rem;
}

.card {
    max-width: 900px;
    display: flex;
    border-radius: 2rem;
    flex-direction: column;
    line-height: 4rem;
}

.illustration {
    border-radius: 2rem 2rem 0 0;
    border: 1px solid var(--fg4);
    border-width: 1px;
}

.card-body {
    background-color: var(--bg3);
    border: 1px solid var(--fg4);
    border-width: 0 1px 1px 1px;
    white-space: pre-wrap;
    font-size: 3rem;
    line-height: 4.5rem;
    padding-top: 2rem;
}

.card-title-container {
    width: 100%;
    padding: 0.5rem 2rem;
}

.card-title {
    font: 12rem/11rem "Margo", "Optima", times;
    text-transform: capitalize;
}

.card-recipe {
    width: 100%;
    margin: 2rem 0;
    padding: 2rem 0 3rem 0;
    border: 1px solid var(--fg4);
    border-width: 1px 0;
}

.card-recipe-row {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
}

.card-recipe-measurement {
    max-width: 12rem;
    min-width: 12rem;
}

.card-preparation {
    padding: 0 2rem 2rem 2rem;
}

footer {
    margin: 5rem 0 0 0;
    padding: 5rem;
    background-color: var(--bg3);
    border: 1px solid var(--fg4);
    border-width: 1px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.paginate {
    font-size: 6rem;
    padding: 0 5rem;
    color: var(--fg4);
}

.paginate:hover {
    color: var(--fg1);
}

.hide {
    visibility: hidden;
}

.tagline {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--fg4);
}

/* Strainer */

/* sidebar */
.strainer {
    display:flex;
    flex-direction: column;
    position: fixed;
    width: 50rem;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    font-size: 3rem;
    line-height: 5rem;
    margin-right: 5rem;
    text-transform: capitalize;
    border: 1px solid var(--fg4);
    border-width: 0 1px 0 0;
    overflow: scroll;
    background-color: var(--bg3);
}

.strainer h4 {
    font-size: 2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 1rem 0;
    padding: 1rem 0 0 2rem;
    color: var(--fg3);
    border: 1px solid var(--fg4);
    border-width: 1px 0 0 0;
}

.strainer section {
    padding: 0 0 2rem 0;
}

.kind > input              { margin-left: 3rem; }
.ingredient > input        { margin-left: 3rem; }
.ingredient:hover          { background-color: var(--bg2); cursor: pointer; color: var(--fg1); }
.ingredient:hover > input  { background-color: var(--bg2); cursor: pointer; color: var(--fg1); }
.ingredient:hover > label  { background-color: var(--bg2); cursor: pointer; color: var(--fg1); }

.ii {
    display: none;
}

.ii:checked + .il {
    color: var(--fg1);
}

.ii:checked + .il::after {
    content: "   â†";
    color: var(--fg1);
    margin-left: 1rem;
}

.il {
    color: var(--fg3);
}

.nameplate {
    margin: 0 auto;
    font: 10rem "Margo", "Optima", times;
    color: var(--fg3);
    text-align: center;
    display: block;
}

.nameplate:hover {
    color: var(--fg1);
}

.strainer label {
    margin-left: 2rem;
}
.strainer input[type=text] {
    font-family: "marionette";
    color: var(--fg1);
    font-size: 3.5rem;
    background: none;
    border: 1px solid var(--fg4);
    border-width: 1px 0 0 0px;
    width: 100%;
    padding: 4rem 2rem 0rem 2rem;
}

.strainer input[type=submit] {
    font-family: "marionette";
    color: var(--fg3);
    font-size: 3rem;
    background: none;
    border: 1px solid var(--fg4);
    border-width: 1px 0 0 0;
    width: 100%;
    margin: 1rem 0 0 0;
    padding: 3rem 2rem;
}

.strainer input[type=submit]:hover {
    color: var(--fg1);
    background-color: var(--bg2);
    cursor: pointer;
}

@media (max-width: 900px) {
    .cocktails    { grid-template-columns: 1fr; grid-gap: 5rem; }
    .filters      { display: none; }
    .show-filters { display: block; }
    .strainer     { display: flex; margin-right: 0; }
    .strainer input { border-bottom: 0px; }

}

/* Cocktail page */

.cocktail-page {
    margin: 5rem;
}

.cocktail {
    white-space: pre-wrap;
    background-color: var(--bg3);
    border: 1px solid var(--fg4);
    border-width: 0 1px 1px 1px;
}

.cocktail-header {
    border: 1px solid var(--fg4);
    border-width: 0 0 1px 0;
    width: 100%;
    padding: 5rem;
}

.cocktail-page > .illustration {
    transform: translate(0, 10px);
}

.cocktail-body {
    display: flex;
}

.page-title {
    font: 25rem/20rem "Margo", "Optima", times;
    text-transform: capitalize;
}

.page-preparation {
    border: 1px solid var(--fg4);
    border-width: 0 1px 0 0;
}

.page-preparation p {
    padding: 6rem;
}

.page-recipe {
    width: 100%;
    padding: 5rem 2rem 6rem 0;
    border: 1px solid var(--fg4);
    border-width: 0 0 1px 0;
}

.page-recipe-row {
    display: flex;
    flex-direction: row;
    margin-left: 5rem;
}

.page-recipe-measurement {
    max-width: 17rem;
    min-width: 17rem;
}

.page-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.page-story {
    border: 1px solid var(--fg4);
    border-width: 0 1px 0 0;
    padding: 5rem;
}

.page-img {
    border: 1px solid var(--fg4);
    border-width: 0 1px 0 0;
    display: flex;          
    align-items: center;    
    justify-content: center;
    padding: 5rem;
}

.page-img img {
}

.page-metadata {
    color: var(--fg4);
    display: flex;
    width: 8rem;
    justify-content: space-between;
    font-size: 2rem;
    writing-mode: vertical-rl;
    padding: 2rem 1rem 2rem 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.page-metadata a {
    color: var(--fg4);
    text-decoration: underline;
}

.page-metadata a:hover {
    color: var(--fg1);
    text-decoration-color: var(--fg1);
}

@media (max-width: 1000px) {
    .cocktail-page { margin: 0rem; }
    .cocktail { border-width: 0 0 1px 0; background-color: var(--bg1); }
    .page-recipe { font-size: 6rem; line-height: 8rem; }
    .page-recipe-measurement {max-width: 20rem; min-width: 20rem;}
    .page-content  { grid-template-columns: 1fr; }
    .page-content { border-width: 0 0 1px 0; }
    .page-story { border-width: 0 1px 1px 0; }
    .page-preparation { border-width: 0 1px 1px 0; }
    .cocktail-body > .content { grid-template-columns: 1fr; }
    .cocktail-body > .content > img { margin-top: 10rem; }
}

