:root {
    --beige0: #fdfcfa; 
    --beige1: #fbf9f6;
    --beige2: #f9f6f1;
    --beige4: #f7f3ed;
    --beige5: #f5f0e8;
    --beige6: #f2ede3;
    --beige7: #f0eadf;
    --beige8: #eee7da;
    --beige9: #ece4d6;
    --beige10: #eae1d1;  /* Page background! */
    --beige11: hsl(38 38% 86%);
    --beige12: hsl(38 38% 80%); /* border */ 
    --beige13: hsl(38 28% 30%);
    --beige14: hsl(38 28% 35%);

    --white:  #ffffff;
    --black:  #000000;
    --shadow: hsl(28 28% 80% / 0.2);
}

* {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    font-size: 5px;
    color: var(--black);
}

body {
    color: var(--black);
    font: 4rem/6rem "Marionette";
    background-color: var(--beige10);
}

a {
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
    white-space: pre-wrap;
}

::selection {
    /* color: var(--bg); */
    /* background-color: var(--fg); */
}

input {
    outline: none;
}

main {
}

/* Cocktails */

.cocktails {
}

.empty {
    margin: 10rem;
    font: 12rem/11rem "Margo", "Optima", times;
    color: var(--beige14);
    text-align: center;
}

.container {
    margin-left: 47rem;
}

.cards {
    margin: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 7rem;
}

.cards-expanded {
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}

.card {
    border: 1px solid var(--beige11);
    max-width: 900px;
    display: flex;
    border-radius: 2rem;
    flex-direction: column;
    background-color: var(--white);
    box-shadow:
        1px 2px 2px var(--shadow),
        2px 4px 4px var(--shadow),
        4px 8px 8px var(--shadow),
        8px 16px 16px var(--shadow),
        16px 32px 32px var(--shadow);
}

.card .illustration {
    border-radius: 1.8rem 1.8rem 0 0;
    height: 60px;
}

.card-body {
    font-size: 3rem;
    line-height: 4.8rem;
}

.card-body-expanded-content {
    border: 1px solid var(--beige10);
    border-width: 1px 0 0 0;
    width: 100%;
}

.expanded {
    display: flex;
}

.card-title-container {
    width: 100%;
    padding: 3rem 2rem 5rem 3rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.card-title-container-expanded {
    padding-bottom: 2rem;
}

.card-title-favorite {
    font-size: 5rem;
    color: var(--beige10);
}

.card-title {
    font: 12rem/11rem "Margo", "Optima", times;
    text-transform: capitalize;
    padding-bottom: 1rem;
}

.card-recipe {
    width: 100%;
    margin-bottom: 2rem;
    padding: 2rem 3rem 3rem 0;
    border: 1px solid var(--beige10);
    border-width: 1px 0;
}

.card-recipe-expanded {
    border-width: 0 0 1px 0;
    padding-top: 2rem;
    padding-left: 2rem;
    background: var(--beige2)
}

.card-recipe-row {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
}

.card-recipe-measurement {
    max-width: 13rem;
    min-width: 13rem;
}

.card-preparation {
    padding: 0 3rem 3rem 4rem;
}

.card-img {
    width: 100%;
    height: auto;
    border-radius: 0 0 10px 0;
}


footer {
    margin: 5rem 0 0 0;
    padding: 5rem;
    display: flex;
    justify-content: space-between;
}

.paginate {
    font-size: 7rem;
    padding: 0 2rem;
    margin-bottom: 4rem;
    color: var(--beige13);
}

.paginate:hover {
    color: var(--black);
}

.hide {
    visibility: hidden;
}

.tagline {
    margin-top: 3px;
    font-size: 2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--beige14);
}

/* Strainer */

/* sidebar */
.strainer {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 45rem;
    top: 0;
    bottom: 0;
    font-size: 3rem;
    line-height: 5rem;
    margin-right: 5rem;
    text-transform: capitalize;
    background-color: var(--beige1);
    border: 1px solid var(--beige12);
    border-width: 0 1px 0 0;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    box-shadow:
        1px 2px 2px var(--shadow),
        2px 4px 4px var(--shadow);
}

.strainer::-webkit-scrollbar {
    display: none;

}

.strainer-form {
    display: flex;
    flex-direction: column;
}

.strainer-mobile {
    display: none;
}

.strainer h4 {
    font-size: 2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 1.5rem 0 1rem 3rem;
    color: var(--beige13);
    border: 1px solid var(--beige12);
    border-width: 1px 0 0 0;
    margin-top: 2rem;
}

#collections {
    border-width: 0;
    margin-top: 0;
}

.strainer section {
    padding: 0 0 2rem 0;
}

.category {
    display: flex;
    flex-direction: column;
}

.category:last-child {
    margin-bottom: 8rem;
}

.label-toggle {
    color: var(--beige14);
    width: 100%;
    display: flex;
    padding: 0.25rem 1rem 0.25rem 3rem;
}

.label-toggle:hover {
    background-color: var(--beige8);
    cursor: pointer;
    color: var(--beige13);
}

.label-check:checked + .label-toggle {
    color: var(--black);
    background-color: var(--beige8);
}

.label-check {
    display: none;
}

.ingredient-check {
    display: none;
}

.ingredient-container {
    color: var(--beige14);
    width: 100%;
    padding: 0.25rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ingredient-container:hover {
    background-color: var(--beige8);
    cursor: pointer;
    color: var(--beige13);
}

.ingredient {
    grid-column: 1;
    color: inherit;
    padding-left: 3rem;
    pointer-events: none;
}

.ingredient-check:checked + .ingredient {
    color: var(--black);
}

.possible-cocktails-count {
    color: inherit;
    margin-right: 2rem;
}

.ingredient-check:checked + .possible-cocktails-count {
    color: var(--black);
    background-color: var(--beige3);
}

.nameplate {
    font: 10rem "Margo", "Optima", times;
    color: var(--beige13);
    text-align: center;
    display: block;
    margin: 2rem 0 8rem 0;
}

.nameplate:hover {
    color: var(--black);
}

.search {
}

#search-label {
    border-width: 0;
}

.strainer input[type=text] {
    font-family: "marionette";
    color: var(--beige13);
    font-size: 3rem;
    background: var(--beige4);
    border: 1px solid var(--beige12);
    margin: 0.5rem 2rem 1rem 3rem;
    padding: 1.5rem 2rem;
    width: 85%;
}

.strainer input[type=text]::placeholder {
    color: var(--beige13);
}

.submit-container {
    top: -3px;
    position: sticky;
    position: -webkit-sticky;
    margin-bottom: 2rem;
    box-shadow:
        1px 2px 2px var(--shadow),
        2px 4px 4px var(--shadow),
        4px 8px 8px var(--shadow),
        8px 16px 16px var(--shadow),
        16px 32px 32px var(--shadow);
}

.strainer input[type=submit] {
    margin: 0;
    border: 1px solid var(--beige12);
    border-width: 1px 0;
    background: none;
    background-color: var(--beige5);
    width: 100%;
    padding: 3rem;

    color: var(--beige14);
    font-family: "marionette";
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: left;
    font-size: 2rem;
}

@supports (-webkit-appearance:none) {
    _::-webkit-full-page-media, _:future, .strainer input[type=submit] { 
        transform: translate(0, 2px);
    }
}

.strainer input[type=submit]:hover {
    background-color: var(--beige10);
    cursor: pointer;
}

.settings input[type=submit] {
    font-family: "marionette";
    color: var(--beige14);
    font-size: 2.5rem;
    background: var(--beige3);
    border: none;
    text-align: left;
    width: 100%;
    padding-left: 2rem;
    text-transform: none;
    letter-spacing: 0;
}

@media (max-width: 900px) {
    .cocktails    { grid-template-columns: 1fr; grid-gap: 5rem; }
    .filters      { display: none; }
    .show-filters { display: block; }
    .strainer     { display: flex; margin-right: 0; }
    .strainer input { border-bottom: 0px; }

}

/* Cocktail page */

.cocktail-page {
    margin: 5rem 5rem 10rem 55rem; 
    line-height: 160%;
    border-radius: 30px;

    box-shadow:
        2.1px 1.7px 3.2px var(--shadow),
        5.1px 4.1px 7.6px var(--shadow),
        9.5px 7.6px 14.3px var(--shadow),
        17px 13.6px 25.5px var(--shadow),
        31.8px 25.5px 47.6px var(--shadow),
        76px 61px 114px var(--shadow) ;
}

.cocktail-page a {
    text-decoration: underline;
    text-decoration-color: var(--beige12);
}

.cocktail-page a:hover {
    text-decoration-color: var(--black);
}

.cocktail {
    white-space: pre-wrap;
    background-color: var(--white);
    border: 1px solid var(--beige10);
}

.cocktail-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid var(--beige10);
    border-width: 0 0 1px 0;
    width: 100%;
    padding: 5rem 3rem 5rem 5rem;
}

.favorite {
    margin-left: auto;
    border: none;
    background: var(--white);
    color: var(--beige10);
    font: 5rem/5rem "Margo", "Optima", times;
}

.favorite:hover {
    color: var(--beige13);
    cursor: pointer;
}

.cocktail-page > .illustration {
    border-width: 0;
    height: 100px;
    border-radius: 30px 30px 0 0;
}

.cocktail-body {
    display: flex;
    font: 3.5rem/6rem "Marionette", "Optima", times;
}

.page-title {
    font: 20rem/18rem "Margo", "Optima", times;
    text-transform: capitalize;
}

.page-preparation {
    border: 1px solid var(--beige10);
    border-width: 0 1px 0 0;
    background: var(--beige1);
}

.page-preparation p {
    padding: 5.6rem 6rem;
}

.page-recipe {
    width: 100%;
    padding: 5rem 2rem 6rem 0;
    border: 1px solid var(--beige10);
    border-width: 0 0 1px 0;
    background: var(--beige2);
}

.page-recipe-row {
    display: flex;
    flex-direction: row;
    margin-left: 5rem;
}

.page-recipe-measurement {
    max-width: 17rem;
    min-width: 17rem;
}

.page-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.page-story {
    border: 1px solid var(--beige10);
    border-width: 0 1px 0 0;
    padding: 5rem;
}

.page-img {
    border: 1px solid var(--beige10);
    border-width: 0 1px 0 0;
    display: flex;          
    align-items: center;    
    justify-content: center;
    padding: 5rem;
}

.page-img img {
}

.page-metadata {
    color: var(--beige12);
    display: flex;
    width: 8rem;
    justify-content: space-between;
    font-size: 2rem;
    writing-mode: vertical-rl;
    padding: 2rem 1rem 2rem 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.page-metadata a {
    color: var(--beige12);
    text-decoration: underline;
}

.page-metadata a:hover {
    color: var(--black);
    text-decoration-color: var(--black);
}

/* "tablet" */
@media (max-width: 1000px) {
    .page-content { 
        grid-template-columns: 1fr; 
        border-width: 0 0 1px 0; 
    }

    .page-story { 
        border-width: 0 1px 1px 0; 
    }

    .page-preparation { 
        border-width: 0 1px 1px 0; 
    }

    .cocktail-body > .content { 
        grid-template-columns: 1fr; 
    }

    .cocktail-body > .content > img { 
        margin-top: 10rem; 
    }
}

/* "phone" */
@media (max-width: 800px) {
    .cocktail-page {
        margin: 0rem;
        font-size: 3rem;
        line-height: 5rem;
    }

    .nameplate {
        grid-row: span 2;
        text-align: left;
        color: var(--beige13);
        margin: 0 0 0 4rem;
    }

    .submit-container {
        z-index: 1;
        top: 12rem;
        background-color: var(--beige4);
        font-size: 2rem;
    }

    .search {
        margin: 3rem 0;
    }

    .cocktail-page > .illustration {
        height: 90px;
        margin-top: -30px;
        border-radius: 0;
    }

    .cocktail {
        border-width: 0;
        background-color: var(--beige0);
    }

    .page-title {
        font: 13rem/12rem "Margo", "Optima", times;
        text-transform: capitalize;
    }

    .cocktail-header {
        padding: 3rem;
    }

    .page-metadata {
        display: none;
    }

    .page-recipe-measurement {
        max-width: 12rem;
        min-width: 12rem;
    }

    .page-story { 
        border-width: 0 0 1px 0; 
        padding: 3rem 4rem;
        grid-row: 3;
    }

    footer {
        margin: 0;
        border-width: 0;
    }

    .page-img {
        border-width: 0 0 1px 0;
        grid-row: 2;
    }

    .page-preparation { 
        border-width: 0 0 1px 0; 
    }

    .page-preparation > p {
        border-width: 0 0 1px 0; 
        padding: 3rem 4rem;
    }

    .page-recipe { 
        border-width: 0 0 1px 0; 
        padding: 3rem 2rem;
    }

    .page-recipe-row {
        margin-left: 2rem;
    }

    .container {
        margin-left: 0rem;
        background-color: var(--beige10);
    }

    .cards {
        margin: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        grid-gap: 4rem;
    }

    .strainer {
        display: none;
    }

    .tagline {
        display: none;
    }

    .strainer-mobile {
        z-index: 10;
        display: flex;
        border: 1px solid var(--beige12);
        background-color: var(--beige0);
        border-width: 0 0 1px 0;
        margin-bottom: 4rem;
        align-items: center;
        padding-right: 4rem;
    }

    .filter-mobile {
        font-size: 3rem;
        margin-left: auto;
        color: var(--beige13);
        text-transform: uppercase;
        cursor: pointer;
    }

    .strainer {
        width: 100%;
        z-index: -1;
        border-width: 0;
        transform: translate(0, -2px);
    }

    .strainer input[type=submit] {
        font-family: "marionette";
        color: var(--beige14);
        font-size: 2.5rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .expanded {
        flex-direction: column;
    }

    .card-img {
        border-width: 1px 0 0 0;
        border-radius: 0 0 10px 10px;
    }

    .settings input[type=submit] {
        border: none;
        padding: 0 0 0 2rem;
        margin: 0;
    }

    .strainer input[type=text] {
        width: 95%;
    }

    .ingredient-container {
        color: var(--beige13);
    }

    .label-toggle {
        color: var(--beige13);
    }
}
