:root {
    --bg1: hsl(0 0% 100%);
    --bg2: hsl(0 0% 95%);
    --bg3: hsl(0 0% 99%);
    --fg1: hsl(0 0% 0%);
    --fg2: hsl(0 0% 30%);
    --fg3: hsl(0 0% 50%);
    --fg4: hsl(0 0% 80%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg1: hsl(0 0% 5%);
        --bg2: hsl(0 0% 10%);
        --bg3: hsl(0 0% 6%);
        --fg1: hsl(0 0% 100%);
        --fg2: hsl(0 0% 70%);
        --fg3: hsl(0 0% 50%);
        --fg4: hsl(0 0% 30%);
    }
}

* { box-sizing: border-box; }

html {
    -webkit-font-smoothing: antialiased;
    font-size: 5px;
    color: var(--fg1);
}

body {
    background: var(--bg1);
    color: var(--fg1);
    font: 4rem/5rem "Marionette";
    line-height: 5rem;
}

a {
    text-decoration: none;
    color: var(--fg1);
    cursor: pointer;
    white-space: pre-wrap;
}

::selection {
    /* color: var(--bg); */
    /* background-color: var(--fg); */
}

input {
    outline: none;
}

main {
}

/* Cocktails */

.cocktails {
}

@media (max-width: 1600px) {.cocktails { grid-template-columns: 20% 80%; }}
@media (max-width: 1250px) {.cocktails { grid-template-columns: 20% 80%; }}

.container {
    margin-left: 50rem;
}

.cards {
    margin: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 5rem;
}

.card {
    max-width: 900px;
    display: flex;
    border-radius: 2rem;
    flex-direction: column;
    line-height: 4rem;
}

.illustration {
    border-radius: 2rem 2rem 0 0;
}

.card-body {
    background-color: var(--bg3);
    border: 1px solid var(--fg4);
    border-width: 0 1px 1px 1px;
    white-space: pre-wrap;
    font-size: 3rem;
    padding-top: 2rem;
}

.card-title {
    width: 100%;
    font: 12rem/11rem "Margo";
    padding: 4rem 2rem 2rem 2rem;
    text-transform: capitalize;
}

.card-recipe {
    width: 100%;
    margin: 2rem 0;
    padding: 2rem 0 3rem 0;
    border: 1px solid var(--fg4);
    border-width: 1px 0;
}

.card-recipe-row {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
}

.card-recipe-measurement {
    max-width: 12rem;
    min-width: 12rem;
}

.card-preparation {
    padding: 0 2rem 2rem 2rem;
}

footer {
    margin: 5rem 0 0 0;
    padding: 5rem;
    background-color: var(--bg3);
    border: 1px solid var(--fg4);
    border-width: 1px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.paginate {
    font-size: 6rem;
    padding: 0 5rem;
    color: var(--fg4);
}

.paginate:hover {
    color: var(--fg1);
}

.hide {
    visibility: hidden;
}

.tagline {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--fg4);
}

/* Strainer */

.strainer {
    position: fixed;
    width: 50rem;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    font-size: 3rem;
    margin-right: 5rem;
    text-transform: capitalize;
    border: 1px solid var(--fg4);
    border-width: 0 1px 0 0;
    overflow: scroll;
    background-color: var(--bg3);
}

.strainer h4 {
    font-size: 2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 1rem 0;
    padding: 1rem 0 0 2rem;
    color: var(--fg3);
    border: 1px solid var(--fg4);
    border-width: 1px 0 0 0;
}

.strainer section {
    padding: 0 0 2rem 0;
}

.kind > input              { margin-left: 3rem; }
.ingredient > input        { margin-left: 3rem; }
.ingredient:hover          { background-color: var(--bg2); cursor: pointer; }
.ingredient:hover > input  { background-color: var(--bg2); cursor: pointer; }
.ingredient:hover > label  { background-color: var(--bg2); cursor: pointer; }

.ii {
    display: none;
}

.ii:checked + .il {
    color: var(--fg1);
}

.ii:checked + .il::after {
    content: "   â†";
    color: var(--fg1);
    margin-left: 1rem;
}

.il {
    color: var(--fg3);
}

.nameplate {
    margin: 0 auto;
    font: 10rem "Margo";
    color: var(--fg3);
    text-align: center;
    display: block;
}

.nameplate:hover {
    color: var(--fg1);
}

.strainer label {
    margin-left: 2rem;
}
.strainer input[type=text] {
    font-family: "marionette";
    color: var(--fg1);
    font-size: 3.5rem;
    background: none;
    border: 1px solid var(--fg4);
    border-width: 1px 0 0 0px;
    width: 100%;
    padding: 3rem 2rem 0rem 2rem;
}

.strainer input[type=submit] {
    font-family: "marionette";
    color: var(--fg3);
    font-size: 3rem;
    background: none;
    border: 1px solid var(--fg4);
    border-width: 1px 0 0 0;
    width: 100%;
    margin: 1rem 0 0 0;
    padding: 3rem 2rem;
}

.strainer input[type=submit]:hover {
    color: var(--fg1);
    background-color: var(--bg2);
    cursor: pointer;
}

@media (max-width: 900px) {
    .cocktails    { grid-template-columns: 1fr; grid-gap: 5rem; }
    .filters      { display: none; }
    .show-filters { display: block; }
    .strainer     { display: flex; margin-right: 0; }
    .strainer input { border-bottom: 0px; }

}

/* Cocktail */

.cocktail {
    white-space: pre-wrap;
    background: whitesmoke; 
    border-radius: 2rem;
}

.cocktail > * { padding: 5rem; }
.cocktail > .header { margin-bottom: 10rem; }

.cocktail > .illustration {
    grid-column: span 4;
    padding: 0;
}

.cocktail-body {
    display: flex;
}

.cocktail-body > .content {
    display: grid;
    grid-column-gap: 10rem;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 900px) {
    .cocktail-body > .content { grid-template-columns: 1fr; }
    .cocktail-body > .content > img { margin-top: 10rem; }
}

.cocktail-body > .content > aside > * { margin-bottom: 10rem; }
.cocktail-body > .content > img { width: 100%; }

.cocktail .metadata {
    display: flex;
    width: 8rem;
    justify-content: space-between;
    font-size: 3rem;
    writing-mode: vertical-rl;
}

