:root {
    --bg1: hsl(0 0% 100%);
    --bg2: hsl(0 0% 95%);
    --bg3: hsl(0 0% 99%);
    --fg1: hsl(0 0% 0%);
    --fg2: hsl(0 0% 30%);
    --fg3: hsl(0 0% 50%);
    --fg4: hsl(0 0% 80%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg1: hsl(0 0% 5%);
        --bg2: hsl(0 0% 20%);
        --bg3: hsl(0 0% 10%);
        --fg1: hsl(0 0% 100%);
        --fg2: hsl(0 0% 70%);
        --fg3: hsl(0 0% 50%);
        --fg4: hsl(0 0% 30%);
    }
}

* { box-sizing: border-box; }

html {
    -webkit-font-smoothing: antialiased;
    font-size: 5px;
    color: var(--fg1);
}

body {
    color: var(--fg1);
    font: 4rem/6rem "Marionette";
    background-color: var(--bg3);
}

a {
    text-decoration: none;
    color: var(--fg1);
    cursor: pointer;
    white-space: pre-wrap;
}

::selection {
    /* color: var(--bg); */
    /* background-color: var(--fg); */
}

input {
    outline: none;
}

main {
}

/* Cocktails */

.cocktails {
}

.empty {
    margin: 10rem;
    font: 12rem/11rem "Margo", "Optima", times;
    color: var(--fg3);
    text-align: center;
}

.container {
    margin-left: 50rem;
}

.cards {
    margin: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 5rem;
}

.cards-expanded {
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}

.card {
    max-width: 900px;
    display: flex;
    border-radius: 2rem;
    flex-direction: column;
    line-height: 4rem;
}

.illustration {
    border-radius: 2rem 2rem 0 0;
    border: 1px solid var(--fg4);
    border-width: 1px;
}

.card-body {
    background-color: var(--bg3);
    border: 1px solid var(--fg4);
    border-width: 0 1px 1px 1px;
    white-space: pre-wrap;
    font-size: 3rem;
    line-height: 4.5rem;
}

.card-body-expanded-content {
    min-width: 300px;
}

.expanded {
    display: flex;
}

.card-title-container {
    width: 100%;
    padding: 2rem 2rem 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.card-title-favorite {
    font-size: 5rem;
    color: var(--fg3);
}

.card-title {
    font: 12rem/11rem "Margo", "Optima", times;
    text-transform: capitalize;
}

.card-recipe {
    width: 100%;
    margin: 2rem 0;
    padding: 2rem 1rem 3rem 0;
    border: 1px solid var(--fg4);
    border-width: 1px 0;
}

.card-recipe-row {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
}

.card-recipe-measurement {
    max-width: 12rem;
    min-width: 12rem;
}

.card-preparation {
    padding: 0 2rem 2rem 2rem;
}

.card-img {
    border: 1px solid var(--fg4);
    border-width: 0 0 0 1px;
    display: flex;          
    align-items: center;    
    justify-content: center;
    padding: 2rem;
}


footer {
    margin: 5rem 0 0 0;
    padding: 5rem;
    background-color: var(--bg3);
    border: 1px solid var(--fg4);
    border-width: 1px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.paginate {
    font-size: 6rem;
    padding: 0 5rem;
    color: var(--fg1);
}

.paginate:hover {
    color: var(--fg1);
}

.hide {
    visibility: hidden;
}

.tagline {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--fg4);
}

/* Strainer */

/* sidebar */
.strainer {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 50rem;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    font-size: 3rem;
    line-height: 5rem;
    margin-right: 5rem;
    text-transform: capitalize;
    border: 1px solid var(--fg4);
    border-width: 0 1px 0 0;
    overflow: scroll;
    background-color: var(--bg3);
}

.strainer-mobile {
    display: none;
}

.strainer h4 {
    font-size: 2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 1rem 0 0 2rem;
    color: var(--fg3);
    border: 1px solid var(--fg4);
    border-width: 1px 0 0 0;
}


.strainer section {
    padding: 0 0 2rem 0;
}

.category {
    display: flex;
    flex-direction: column;
}

.ingredient-check {
    display: none;
}

.ingredient {
    color: var(--fg3);
    width: 100%;
    padding-left: 2rem;
}

.ingredient:hover {
    background-color: var(--bg2);
    cursor: pointer;
    color: var(--fg1);
}

.ingredient-check:checked + .ingredient {
    color: var(--fg1);
}

.ingredient-check:checked + .ingredient::after {
    content: "   â†";
    color: var(--fg1);
    margin-left: 1rem;
}

.nameplate {
    margin: 0 auto;
    font: 10rem "Margo", "Optima", times;
    color: var(--fg3);
    text-align: center;
    display: block;
}

.nameplate:hover {
    color: var(--fg1);
}

.strainer input[type=text] {
    font-family: "marionette";
    color: var(--fg1);
    font-size: 3.5rem;
    background: none;
    border: 1px solid var(--fg4);
    border-width: 1px 0 0 0px;
    width: 100%;
    padding: 4rem 2rem 0rem 2rem;
}

.strainer input[type=submit] {
    margin: 0;
    font-family: "marionette";
    color: var(--fg3);
    font-size: 3rem;
    background: none;
    border: 1px solid var(--fg4);
    border-width: 1px 0 0 0;
    width: 100%;
    padding: 3rem 2rem;
}

.strainer input[type=submit]:hover {
    color: var(--fg1);
    background-color: var(--bg2);
    cursor: pointer;
}

.settings input[type=submit] {
    font-family: "marionette";
    color: var(--fg3);
    font-size: 3rem;
    background: none;
    border: none;
    text-align: left;
    width: 100%;
    padding-left: 2rem;
}

@media (max-width: 900px) {
    .cocktails    { grid-template-columns: 1fr; grid-gap: 5rem; }
    .filters      { display: none; }
    .show-filters { display: block; }
    .strainer     { display: flex; margin-right: 0; }
    .strainer input { border-bottom: 0px; }

}

/* Cocktail page */

.cocktail-page {
    margin: 5rem 5rem 10rem 5rem; 
}

.cocktail-page a {
    text-decoration: underline;
    text-decoration-color: var(--fg4);
}

.cocktail-page a:hover {
    text-decoration-color: var(--fg1);
}

.cocktail {
    white-space: pre-wrap;
    background-color: var(--bg3);
    border: 1px solid var(--fg4);
    border-width: 0 1px 1px 1px;
}

.cocktail-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid var(--fg4);
    border-width: 0 0 1px 0;
    width: 100%;
    padding: 5rem 3rem 5rem 5rem;
}

.favorite {
    margin-left: auto;
    border: none;
    background: var(--bg3);
    color: var(--fg3);
    font: 10rem/10rem "Margo", "Optima", times;
}

.favorite:hover {
    color: var(--fg1);
    cursor: pointer;
}

.cocktail-page > .illustration {
    transform: translate(0, 10px);
    border-width: 0;
}

.cocktail-body {
    display: flex;
}

.page-title {
    font: 25rem/20rem "Margo", "Optima", times;
    text-transform: capitalize;
}

.page-preparation {
    border: 1px solid var(--fg4);
    border-width: 0 1px 0 0;
}

.page-preparation p {
    padding: 5.6rem 6rem;
}

.page-recipe {
    width: 100%;
    padding: 5rem 2rem 6rem 0;
    border: 1px solid var(--fg4);
    border-width: 0 0 1px 0;
}

.page-recipe-row {
    display: flex;
    flex-direction: row;
    margin-left: 5rem;
}

.page-recipe-measurement {
    max-width: 17rem;
    min-width: 17rem;
}

.page-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.page-story {
    border: 1px solid var(--fg4);
    border-width: 0 1px 0 0;
    padding: 5rem;
}

.page-img {
    border: 1px solid var(--fg4);
    border-width: 0 1px 0 0;
    display: flex;          
    align-items: center;    
    justify-content: center;
    padding: 5rem;
}

.page-img img {
}

.page-metadata {
    color: var(--fg4);
    display: flex;
    width: 8rem;
    justify-content: space-between;
    font-size: 2rem;
    writing-mode: vertical-rl;
    padding: 2rem 1rem 2rem 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.page-metadata a {
    color: var(--fg4);
    text-decoration: underline;
}

.page-metadata a:hover {
    color: var(--fg1);
    text-decoration-color: var(--fg1);
}

/* "tablet" */
@media (max-width: 1000px) {
    .page-content { 
        grid-template-columns: 1fr; 
        border-width: 0 0 1px 0; 
    }

    .page-story { 
        border-width: 0 1px 1px 0; 
    }

    .page-preparation { 
        border-width: 0 1px 1px 0; 
    }

    .cocktail-body > .content { 
        grid-template-columns: 1fr; 
    }

    .cocktail-body > .content > img { 
        margin-top: 10rem; 
    }
}

/* "phone" */
@media (max-width: 800px) {
    .cocktail-page {
        margin: 0rem;
        font-size: 3rem;
        line-height: 5rem;
    }
    .cocktail-page > .illustration {
        margin-top: -140px;
    }
    .cocktail {
        border-width: 0;
        background-color: var(--bg1);
    }

    .page-title {
        font: 13rem/12rem "Margo", "Optima", times;
        text-transform: capitalize;
    }

    .cocktail-header {
        padding: 3rem;
    }

    .page-metadata {
        display: none;
    }

    .page-recipe-measurement {
        max-width: 12rem;
        min-width: 12rem;
    }

    .page-story { 
        border-width: 0 0 1px 0; 
        padding: 3rem 4rem;
        grid-row: 3;
    }

    footer {
        margin: 0;
        border-width: 0;
    }
    .page-img {
        border-width: 0 0 1px 0;
        grid-row: 2;
    }

    .page-preparation { 
        border-width: 0 0 1px 0; 
    }

    .page-preparation > p {
        border-width: 0 0 1px 0; 
        padding: 3rem 4rem;
    }

    .page-recipe { 
        border-width: 0 0 1px 0; 
        padding: 3rem 2rem;
    }

    .page-recipe-row {
        margin-left: 2rem;
    }

    .container {
        margin-left: 0rem;
        background-color: var(--bg1);
    }

    .cards {
        margin: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 4rem;
    }

    .strainer {
        display: none;
    }

    .tagline {
        display: none;
    }

    .strainer-mobile {
        display: flex;
        border: 1px solid var(--fg4);
        background-color: var(--bg3);
        border-width: 0 0 1px 0;
        margin-bottom: 4rem;
        align-items: center;
        padding-right: 4rem;
    }

    .nameplate {
        text-align: left;
        color: var(--fg2);
        margin: 0 0 0 4rem;
    }

    .filter-mobile {
        font-size: 3rem;
        margin-left: auto;
        color: var(--fg2);
        text-transform: uppercase;
        cursor: pointer;
    }

    .strainer {
        width: 100%;
        z-index: -1;
        border-width: 0;
        transform: translate(0, -2px);
    }

    .strainer input[type=submit] {
        font-family: "marionette";
        color: var(--fg3);
        font-size: 3rem;
        background: none;
        border: 1px solid var(--fg4);
        border-width: 1px 0 0 0;
        width: 100%;
        padding: 5rem;
    }

    .expanded {
        flex-direction: column;;
    }

    .card-img {
        border-width: 1px 0 0 0;
    }


}
